<div class="divpadding">
<%= link_to "<-- Regresar", "/", :class => "btn btn-mini" %>
<h2>Tutti Frutti</h2>
<table border="1" id="tabla" class="table table-striped table-condensed table-hover">
	<tr id="headers">
		<th>Letra</th>
	</tr>
	<tbody id="tfbody">
	</tbody>
</table>
<div>
	<input type="button" id="filaNueva" value="Fila Nueva"/>
	<%= form_tag tuttifrutti_agregarPuntos_path, :method => 'post', id: "tuttifruttiform" do %>
	<input type="hidden" id="puntos_hidden" name="puntos_hidden" value=""/>
	<input type="submit" id="finalizar" value="Finalizar"/>
	<% end %>
</div>
<div id="errores"></div>
<div id="puntos"></div>
</div>