table.tablasaprender{
	border-radius: 5px;
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
	-o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
	background: rgba(255, 255, 255, 0.227451);
	background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
	background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
	background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
	height: 100px;
	width: 780px;
	margin-left:auto;
	margin-right:auto;
}

.tile { width: 500px; border: 1px solid black; height: 130px; margin: 8px; padding:5px; display:inline-block; }

.vinculo:link {color:#000000;}      /* unvisited link */
.vinculo:visited {color:#00FF00;}  /* visited link */
.vinculo:hover {color:blue; text-decoration: underline;}  /* mouse over link */
.vinculo:active {color:#0000FF;}  /* selected link  */

#partials > div{
	display: none;
}