table.tablasaprender{
	background: rgba(51, 204, 255, 12);
	opacity: 0.9;
}

.tile { width: 500px; border: 1px solid black; height: 130px; margin: 8px; padding:5px; display:inline-block; }

.vinculo:link {color:#000000;}      /* unvisited link */
.vinculo:visited {color:#00FF00;}  /* visited link */
.vinculo:hover {color:blue; text-decoration: underline;}  /* mouse over link */
.vinculo:active {color:#0000FF;}  /* selected link  */

#partials > div{
	display: none;
}