html {
  background-color: #ffffff;
  background-image: url(../images/landing-page-tour-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
#nav-bar .navbar-inner {
  border: none;
  background: rgba(255, 255, 255, 0.278431);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  padding-left: 20px;
  padding-right: 20px;
}
#nav-bar .brand {
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
#nav-bar .brand .icon.icon-bolt {
  margin: 2px 0px 0px -7px;
  font-size: 14px;
  height: 14px;
  width: 14px;
}
#nav-bar .nav li a {
  margin: 5px 0px 0px 0px;
  text-shadow: none;
  font-weight: bold;
  color: #ffffff;
  line-height: 22px;
}
#hero-container {
  padding: 60px 0px 60px 0px;
}
#title {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.129412);
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}
#subtitle {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.168627);
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #f0f0f0;
}
#signup-form {
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  background: rgba(255, 255, 255, 0.227451);
  background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  height: 500px;
  width: 540px;
}
#signup-form .control-label {
  font-weight: bold;
  font-family:"proxima-nova";
  font-size: 15px;
  width: 130px;
}
#signup-form input.textinput.textinput-1 {
  margin: 0px 0px 0px 150px;
  width: 247px;
}
#signup-form .control-label.control-label-1 {
  margin: 50px 0px 5px -130px;
}
#signup-form input.textinput.textinput-2 {
  margin: 50px 0px 0px 150px;
  width: 248px;
}
#signup-form .control-label.control-label-2 {
  margin: 100px 0px 5px -132px;
}
#signup-form input.textinput.textinput-3 {
  margin: 100px 0px 0px 150px;
  width: 184px;
}
#signup-form .control-label.control-label-3 {
  margin: 150px 0px 0px -132px;
}
#signup-form select {
  width: 200px;
}
#signup-form select.select-1 {
  margin: 150px 0px 0px 18px;
}
#signup-form .control-label.control-label-4 {
  margin: 200px 0px 0px -132px;
}
#signup-form select.select-2 {
  margin: 20px 0px 0px 18px;
}
#signup-form .form-actions {
  background: transparent;
  border: none;
  width: 142px;
}

#signup-form2 {
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  background: rgba(255, 255, 255, 0.227451);
  background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.227451) 0%, rgba(191, 191, 191, 0.329412) 100%);
  height: 320px;
  width: 540px; 
}