#hero-container, #signup-form input, #signup-form button, #nav-bar.brand {
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial;
}
#signup-form {
  position: relative;
  padding: 15px 15px 15px 15px;
}
#signup-form input {
  position: relative;
  left: 10px;
  width: 250px;
  margin-left: 100px;
}
#signup-form label {
  margin-left:100px;
}
#signup-form button {
  float: right;
}