<div id="propos">
	<h3>Pronombres Posesivos</h3>
	<table class="tablasaprender table table-striped table-condensed table-hover">
		<tbody>
			<tr class="principal">
				<td colspan="2">Pronombres posesivos<br> (en función de determinante del sujeto)</td>
				<td>Ejemplo</td>
				<td>Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>My</strong></td>
				<td>mi, mis</td>
				<td>This is <strong>my</strong> house.</td>
				<td>Ésta es mi casa.</td>
			</tr>
			<tr>
				<td><strong>Your</strong></td>
				<td>tu, tus (de ti) / su, sus (de usted)</td>
				<td>This is <strong>your</strong> book.</td>
				<td>Éste es tu libro. / Éste es su libro.</td>
			</tr>
			<tr>
				<td><strong>His </strong></td>
				<td>su, sus (de él)</td>
				<td>This is <strong>his</strong> bicycle.</td>
				<td>Ésta es su bicicleta.</td>
			</tr>
			<tr>
				<td><strong> Her </strong></td>
				<td>su, sus (de ella)</td>
				<td>This is <strong>her</strong> dress.</td>
				<td>Éste es su vestido.</td>
			</tr>
			<tr>
				<td><strong> Its </strong></td>
				<td>su, sus</td>
				<td>This is <strong>its</strong> (the cat's) home.</td>
				<td>Ésta es su casa. (la casa del gato)</td>
			</tr>
			<tr>
				<td><strong> Our </strong></td>
				<td>nuestro/a, nuestros/as</td>
				<td>These are <strong>our</strong> suitcases.</td>
				<td>Éstas son nuestras maletas.</td>
			</tr>
			<tr>
				<td><strong> Your </strong></td>
				<td><p>vuestro/a, vuestros/as, su, <br>sus (de ustedes)</p></td>
				<td>These are <strong>your</strong> seats.</td>
				<td>Éstos son vuestros asientos. Éstos son sus asientos.</td>
			</tr>
			<tr>
				<td><strong> Their </strong></td>
				<td>su, sus (de ellos)</td>
				<td>These are <strong>their</strong> books.</td>
				<td>Éstos son sus libros.</td>
			</tr>
			<tr class="principal">
				<td colspan="2">Pronombres posesivos <br> (en función de pronombre)</td>
				<td>Ejemplo</td>
				<td>Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>Mine </strong></td>
				<td>mío/s, mía/s</td>
				<td>This book is <strong>mine</strong></td>
				<td>Este libro es mío.</td>
			</tr>
			<tr>
				<td><strong>Yours</strong></td>
				<td>tuyo/s, tuya/s, suyo/s, suya/s</td>
				<td>Is this book <br><strong>yours</strong>?</td>
				<td>¿Este libro es tuyo? / ¿Este libro es suyo?</td>
			</tr>
			<tr>
				<td><strong>His </strong></td>
				<td>suyo/s, suya/s<br> (de el)</td>
				<td>This bicycle is <strong>his</strong>.</td>
				<td>Esta bicicleta es de él.</td>
			</tr>
			<tr>
				<td><strong>Hers </strong></td>
				<td>suyo/s, suya/s<br> (de ella)</td>
				<td>The dress is <strong>hers</strong>.</td>
				<td>El vestido es de ella.</td>
			</tr>
			<tr>
				<td><strong>Its</strong></td>
				<td>su, sus</td>
				<td>The house is <strong>its</strong> (the cat's).</td>
				<td>La casa es suya (del gato).</td>
			</tr>
			<tr>
				<td><strong>Ours </strong></td>
				<td>nuestro/s, nuestra/s</td>
				<td>The suitcases are <strong>ours</strong>.</td>
				<td>Las maletas son nuestras.</td>
			</tr>
			<tr>
				<td><strong>Yours </strong></td>
				<td>vuestro/a, vuestros/as, suyo/s, suya/s</td>
				<td>These seats are<strong> yours</strong>.</td>
				<td>Estos asientos son vuestros. Estos asientos son suyos.</td>
			</tr>
			<tr>
				<td><strong>Theirs </strong></td>
				<td>suyo/a, suyos/as (de ellos)</td>
				<td>This pencil is <strong>theirs</strong>.</td>
				<td>Este lápiz es de ellos.</td>
			</tr>
		</tbody>
	</table>
</div>