
<table class="tablasaprender" align="center" width="600" border="2" cellspacing="1" cellpadding="2" border="0">
	<tbody>
		<tr class="principal">
			<td colspan="2">Pronombres personales <br>(función de sujeto)</td>
			<td>Ejemplo</td>
			<td>Traducción ejemplo</td>
		</tr>
		<tr>
			<td><strong>I </strong></td>
			<td>yo</td>
			<td><strong>I</strong> am ill.</td>
			<td>Yo estoy enfermo.</td>
		</tr>
		<tr>
			<td><strong>You </strong></td>
			<td>tú, usted</td>
			<td><strong>You</strong> are tall.</td>
			<td>Tú eres alto. / Usted es alto.</td>
		</tr>
		<tr>
			<td><strong>He</strong></td>
			<td>él</td>
			<td><strong>He</strong> is handsome.</td>
			<td>Él es guapo.</td>
		</tr>
		<tr>
			<td><strong>She </strong></td>
			<td>ella</td>
			<td><strong>She</strong> is pretty.</td>
			<td>Ella es guapa.</td>
		</tr>
		<tr>
			<td><strong>It </strong></td>
			<td>ello (neutro)</td>
			<td><strong>It</strong> is cold today.</td>
			<td>Hoy hace frío.</td>
		</tr>
		<tr>
			<td><strong>We </strong></td>
			<td>nosotros</td>
			<td><strong>We</strong> are tired.</td>
			<td>Nosotros estamos cansados.</td>
		</tr>
		<tr>
			<td><strong>You </strong></td>
			<td>vosotros, ustedes</td>
			<td><strong>You</strong> are angry.</td>
			<td>Vosotros estáis enfadados. Ustedes están enfadados.</td>
		</tr>
		<tr>
			<td><strong>They </strong></td>
			<td>ellos, ellas</td>
			<td><strong>They</strong> are at the cinema.</td>
			<td>Ellos están en el cine.</td>
		</tr>
		<tr class="principal">
			<td colspan="2">Pronombres personales<br>(función de objeto)</td>
			<td>Ejemplo</td>
			<td>&nbsp;Traducción ejemplo</td>
		</tr>
		<tr>
			<td><strong>Me </strong></td>
			<td>mí</td>
			<td>Can you help <strong>me</strong>?</td>
			<td>¿Puedes ayudarme?</td>
		</tr>
		<tr>
			<td><strong>You </strong></td>
			<td>a tí, a usted</td>
			<td>I can help <strong>you</strong>.</td>
			<td>Puedo ayudarte. / Puedo ayudarle.</td>
		</tr>
		<tr>
			<td><strong>Him </strong></td>
			<td>a él</td>
			<td>Can you see <strong>him</strong>?</td>
			<td>¿Le puedes ver?</td>
		</tr>
		<tr>
			<td><strong>Her </strong></td>
			<td>a ella</td>
			<td>Give it to <strong>her</strong>.</td>
			<td>Dáselo a ella.</td>
		</tr>
		<tr>
			<td><strong>It </strong></td>
			<td>a ello</td>
			<td>Give <strong>it</strong> a kick.</td>
			<td>Dale una patada.</td>
		</tr>
		<tr>
			<td><strong>Us </strong></td>
			<td>a nosotros</td>
			<td>Can you see <strong>us</strong>?</td>
			<td>¿Nos puedes ver?</td>
		</tr>
		<tr>
			<td><strong>You </strong></td>
			<td>a vosotros, a ustedes</td>
			<td>I see <strong>you</strong>.</td>
			<td>Os veo. / Les veo.</td>
		</tr>
		<tr>
			<td><strong>Them </strong></td>
			<td>a ellos</td>
			<td>He can help <strong>them</strong>.</td>
			<td>Les puede ayudar.</td>
		</tr>
	</tbody>
</table>