<head>
  <%= stylesheet_link_tag    "actividades", media: "all", "data-turbolinks-track" => true %>
</head>

<div class="divpadding">
	<h1>Quiz</h1>
	<h3>Pronombres Personales</h3>
	<span>
		<p>
		</p>
		<p>
		</p>
	</span>
</div>