<div id="tabpro">
	<h3>Tabla de los Pronombres</h3>
	<table class="tablasaprender table table-striped table-condensed table-hover" border="0" cellpadding="2" cellspacing="1" width="600" align="center">
		<tbody>
			<tr class="principal">
				<td colspan="2">Pronombres personales <br> (función de sujeto)</td>
				<td>Ejemplo</td>
				<td>Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>I </strong></td>
				<td>yo</td>
				<td><strong>I</strong> am ill.</td>
				<td>Yo estoy enfermo.</td>
			</tr>
			<tr>
				<td><strong>You </strong></td>
				<td>tú, usted</td>
				<td><strong>You</strong> are tall.</td>
				<td>Tú eres alto. / Usted es alto.</td>
			</tr>
			<tr>
				<td><strong>He</strong></td>
				<td>él</td>
				<td><strong>He</strong> is handsome.</td>
				<td>Él es guapo.</td>
			</tr>
			<tr>
				<td><strong>She </strong></td>
				<td>ella</td>
				<td><strong>She</strong> is pretty.</td>
				<td>Ella es guapa.</td>
			</tr>
			<tr>
				<td><strong>It </strong></td>
				<td>ello (neutro)</td>
				<td><strong>It</strong> is cold today.</td>
				<td>Hoy hace frío.</td>
			</tr>
			<tr>
				<td><strong>We </strong></td>
				<td>nosotros</td>
				<td><strong>We</strong> are tired.</td>
				<td>Nosotros estamos cansados.</td>
			</tr>
			<tr>
				<td><strong>You </strong></td>
				<td>vosotros, ustedes</td>
				<td><strong>You</strong> are angry.</td>
				<td>Vosotros estáis enfadados. Ustedes están enfadados.</td>
			</tr>
			<tr>
				<td><strong>They </strong></td>
				<td>ellos, ellas</td>
				<td><strong>They</strong> are at the cinema.</td>
				<td>Ellos están en el cine.</td>
			</tr>
			<tr class="principal">
				<td colspan="2">Pronombres personales<br> (función de objeto)</td>
				<td>Ejemplo</td>
				<td>&nbsp;Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>Me </strong></td>
				<td>mí</td>
				<td>Can you help <strong>me</strong>?</td>
				<td>¿Puedes ayudarme?</td>
			</tr>
			<tr>
				<td><strong>You </strong></td>
				<td>a tí, a usted</td>
				<td>I can help <strong>you</strong>.</td>
				<td>Puedo ayudarte. / Puedo ayudarle.</td>
			</tr>
			<tr>
				<td><strong>Him </strong></td>
				<td>a él</td>
				<td>Can you see <strong>him</strong>?</td>
				<td>¿Le puedes ver?</td>
			</tr>
			<tr>
				<td><strong>Her </strong></td>
				<td>a ella</td>
				<td>Give it to <strong>her</strong>.</td>
				<td>Dáselo a ella.</td>
			</tr>
			<tr>
				<td><strong>It </strong></td>
				<td>a ello</td>
				<td>Give <strong>it</strong> a kick.</td>
				<td>Dale una patada.</td>
			</tr>
			<tr>
				<td><strong>Us </strong></td>
				<td>a nosotros</td>
				<td>Can you see <strong>us</strong>?</td>
				<td>¿Nos puedes ver?</td>
			</tr>
			<tr>
				<td><strong>You </strong></td>
				<td>a vosotros, a ustedes</td>
				<td>I see <strong>you</strong>.</td>
				<td>Os veo. / Les veo.</td>
			</tr>
			<tr>
				<td><strong>Them </strong></td>
				<td>a ellos</td>
				<td>He can help <strong>them</strong>.</td>
				<td>Les puede ayudar.</td>
			</tr>
			<tr class="principal">
				<td colspan="2">Pronombres posesivos<br> (en función de determinante de sujeto)&nbsp;</td>
				<td>Ejemplo</td>
				<td>Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>My </strong></td>
				<td>mi, mis</td>
				<td>This is <strong>my</strong> house.</td>
				<td>Ésta es mi casa.</td>
			</tr>
			<tr>
				<td><strong>Your </strong></td>
				<td>tu, tus (de tú) / su, sus (de usted)</td>
				<td>This is <strong>your</strong> book.</td>
				<td>Éste es tu libro. / Éste es su libro.</td>
			</tr>
			<tr>
				<td><strong>His </strong></td>
				<td>su, sus (de él)</td>
				<td>This is <strong>his</strong> bicycle.</td>
				<td>Ésta es su bicicleta.</td>
			</tr>
			<tr>
				<td><strong> Her </strong></td>
				<td>su, sus (de ella)</td>
				<td>This is <strong>her</strong> dress.</td>
				<td>Éste es su vestido.</td>
			</tr>
			<tr>
				<td><strong> Its </strong></td>
				<td>su, sus</td>
				<td>This is <strong>its</strong> (the cat's) home.</td>
				<td>Ésta es su casa. (del gato)</td>
			</tr>
			<tr>
				<td><strong> Our </strong></td>
				<td>nuestro/a nuestros/as</td>
				<td>These are <strong>our</strong> suitcases.</td>
				<td>Éstas son nuestras maletas.</td>
			</tr>
			<tr>
				<td><strong> Your </strong></td>
				<td>
					<p>vuestro/a, vuestros/as, su, sus (de ustedes)</p>
				</td>
				<td>These are <strong>your</strong> seats.</td>
				<td>Éstos son vuestros asientos. Éstos son sus asientos.</td>
			</tr>
			<tr>
				<td><strong> Their </strong></td>
				<td>su, sus (de ellos)</td>
				<td>These are <strong>their</strong> books.</td>
				<td>Éstos son sus libros.</td>
			</tr>
			<tr class="principal">
				<td colspan="2">Pronombres posesivos <br> (en función de pronombre)</td>
				<td>Ejemplo</td>
				<td>Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>Mine </strong></td>
				<td>mio/s, mía/s</td>
				<td>This book is <strong>mine</strong></td>
				<td>Este libro es mío.</td>
			</tr>
			<tr>
				<td><strong>Yours</strong></td>
				<td>tuyo/s, tuya/s, suyo/s, suya/s</td>
				<td>Is this book <strong>yours</strong>?</td>
				<td>¿Este libro es tuyo? / ¿Este libro es suyo?</td>
			</tr>
			<tr>
				<td><strong>His </strong></td>
				<td>suyo/s, suya/s<br> (de el)</td>
				<td>This bicycle is <strong>his</strong>.</td>
				<td>Esta bicicleta es de él.</td>
			</tr>
			<tr>
				<td><strong>Hers </strong></td>
				<td>suyo/s, suya/s<br> (de ella)</td>
				<td>The dress is <strong>hers</strong>.</td>
				<td>El vestido es de ella.</td>
			</tr>
			<tr>
				<td><strong>Its</strong></td>
				<td>su, sus</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><strong>Ours </strong></td>
				<td>nuestro/s, nuestra/s</td>
				<td>The suitcases are <strong>ours</strong>.</td>
				<td>Las maletas son nuestras.</td>
			</tr>
			<tr>
				<td><strong>Yours </strong></td>
				<td>vuestro/a, vuestros/as, suyo/s, suya/s</td>
				<td>These seats are<strong> yours</strong>.</td>
				<td>Estos asientos son vuestros. Estos asientos son suyos.</td>
			</tr>
			<tr>
				<td><strong>Theirs </strong></td>
				<td>suyo/a, suyos/as (de ellos)</td>
				<td>This pencil is <strong>theirs</strong>.</td>
				<td>Este lápiz es de ellos.</td>
			</tr>
			<tr class="principal">
				<td colspan="2">Pronombres reflexivos <br> (en función de pronombre)</td>
				<td>Ejemplo</td>
				<td>Traducción ejemplo</td>
			</tr>
			<tr>
				<td><strong>Myself </strong></td>
				<td>yo mismo, a mi</td>
				<td>I saw it for <strong>myself</strong>.</td>
				<td>Yo mismo lo ví.</td>
			</tr>
			<tr>
				<td><strong>Yourself </strong></td>
				<td>tú mismo (a ti), usted mismo (a usted)</td>
				<td>Don't burn <strong>yourself</strong>!</td>
				<td>¡No te quemes! / ¡No se queme!</td>
			</tr>
			<tr>
				<td><strong>Himself </strong></td>
				<td>él mismo, a si mismo</td>
				<td>He hurt <strong>himself</strong>.</td>
				<td>Se hizo daño.</td>
			</tr>
			<tr>
				<td><strong>Herself </strong></td>
				<td>ella misma, a si misma</td>
				<td>She did it <strong>herself</strong>.</td>
				<td>Lo hizo ella misma.</td>
			</tr>
			<tr>
				<td><strong>Itself </strong></td>
				<td>él mismo, así mismo</td>
				<td>The cat scratched <strong>itself</strong>.</td>
				<td>El gato se rascó.</td>
			</tr>
			<tr>
				<td><strong>Ourselves </strong></td>
				<td>nosotros mismos</td>
				<td>We made it <strong>ourselves</strong>.</td>
				<td>Lo hemos hecho nosotros mismos.</td>
			</tr>
			<tr>
				<td><strong>Yourselves </strong></td>
				<td>vosotros mismos, ustedes mismos</td>
				<td>Did you paint the house <strong>yourselves</strong>?</td>
				<td>¿Pintásteis la casa vosotros mismos? / ¿Pintaron la casa ustedes mismos?</td>
			</tr>
			<tr>
				<td><strong>Themselves</strong></td>
				<td>ellos mismos</td>
				<td>They were speaking to <strong>themselves</strong>.</td>
				<td>Ellos hablaban consigo mismos.</td>
			</tr>
		</tbody>
	</table>
</div>