<head>
  <%= stylesheet_link_tag    "actividades", media: "all", "data-turbolinks-track" => true %>
</head>

<div class="divpadding ">
	<h1 class="titulo">Actividades</h1>
	<div>
	<ol>
		<li>Pronombres personales</li>
		<li>Pronombres posesivos</li>
		<li>Pronombres demostrativos</li>
		<li>Pronombres reflexivos</li>
		<li>Tabla de pronombres</li>
		<li><%= link_to "Ver videos", "actividades/video" %></li>
		<!-- Basado en: http://www.curso-ingles.com/gramatica-inglesa/pronombres-personales.php -->
	</ol>
	</div>
	<div>
		<%= render "quiz" %>
	</div>
</div>