<head>
  <%= stylesheet_link_tag    "actividades", media: "all", "data-turbolinks-track" => true %>
</head>

<script type="text/javascript">
var loadPartial=function(name){
	var xmlhttp;
	if (window.XMLHttpRequest){
		// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}
	else{
		// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			document.getElementById("partial").innerHTML=xmlhttp.responseText;
		}
	}
	xmlhttp.open("GET", name + ".html.erb",true);
	xmlhttp.send();
}
</script>

<div class="divpadding ">
    <%= link_to "<-- Regresar", "/", :class => "btn btn-mini" %>
    <p>
	<h1 class="titulo">Actividades</h1>
	<div>
	<ol>
		<li onclick="loadPartial('_proper')">Pronombres personales</li>
		<li onclick="loadPartial('_propos')">Pronombres posesivos</li>
		<li onclick="loadPartial('_prodem')">Pronombres demostrativos</li>
		<li onclick="loadPartial('_proref')">Pronombres reflexivos</li>
		<li onclick="loadPartial('_tabpro')">Tabla de pronombres</li>
		<li onclick="loadPartial('_quiz')">Quiz</li>
		<li><%= link_to "Ver videos", "actividades/video" %></li>
		<!-- Basado en: http://www.curso-ingles.com/gramatica-inglesa/pronombres-personales.php -->
	</ol>
	</div>
	<div id="partial">
		<%= render "proper" %>
	</div>
</div>